@{
    ViewBag.Title = "Контактная информация";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Беларусь<br />
    Брест, совок<br />
    <abbr title="Телефон">T:</abbr>
    425.555.0100
</address>

<address>
    <strong>Саппорт:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Вопросы:</strong> <a href="mailto:Marketing@example.com">Questions@example.com</a>
</address>