@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Эпичный заголовокЪ</h1>
    <p class="lead">Мы много чего продаём. У нас самый уникальный сервис в мире! Раскручиваем абсолютно всё!</p>
    <p><a href="#" class="btn btn-primary btn-lg">Кнопошка &raquo;</a>
    </p>
</div>

<div>
    А тут всякий текст, контент и прочее, что тут ещё может быть.
    Вот для примеру анегдоты:
    <blockquote>
        <ul>
            <li>- Вы, подсудимый, украли 300 млн. евро и спрятали их. Вы приговариваетесь к 15 годам строго режима. Ваше последнее слово.</li>
            <li>
                - Я люблю легенды. Однажды волк украл 300 млн. баранов и его поймали охотники. Мы убьем тебя, сказали они.
                Волк сказал: "Охотники, не убивайте меня и я дам вам 150 млн. баранов."
                Охотники согласились. Все были довольны и жили долго и счастливо.
            </li>
            <li>- Суд пересмотрел приговор и тронут вашей любовью к легендам. Вы освобождаетесь прямо в зале суда. Святой вы человек.</li>
        </ul>
    </blockquote>

    <blockquote>
        Я учитель начальных классов. Дети меня искренне любят, я же их обожаю всех и отношусь почти как к собственным. Часто дарят мне подарочки: то картину нарисуют, то шишек наберут для меня в лесу, а браслетиков из резиночек уже целый склад. Господи, какие же они непосредственные и неиспорченные! Как же сильно опошлены взрослые мозги! Сейчас уже привыкла, а вначале в ступор входила от их перлов. То "покажите вашу киску" (фото моего кота), то "а почему вы не замужем, вам лет-то уже сколько" (было мне 23). Почетное первое место делят вопросец "А вы сосать любите?" (мальчик 6 лет карамелькой хотел угостить) и поделка из тех же резиночек, сильно похожая на вязаный презерватив с ручками (оказалось, это украшение для карандаша в виде КАКТУСА, блин). Аж стыдно становится за неуместные ассоциации. Берегите внутреннего ребенка.
    </blockquote>

    <blockquote>
        <ul>
            <li>Стою на балконе, курю... любуюсь звездами. Мимо идет пьяный мужичок, чихает.</li>
            <li>Я ему сверху громко басом:</li>
            <li>— Будь здоров!</li>
            <li>Мужик падает на колени, подымает руки:</li>
            <li>— Спасибо, господи!</li>
        </ul>
    </blockquote>

</div>