<div class="row">
    <div class="col-md-4">
        <h2>ЙутубЪ</h2>
        <p>
            Мы расскрутим вас в этом вашем ЙутубЪе!
        </p>
        <p>
            <a class="btn" href="http://youtube.com/"><i class="fa fa-youtube-square fa-5x"></i> &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>ВтентаклЪ</h2>
        <p>Раскрутим вас в вашом этом уютненьком ВтентакликЪ.</p>
        <p>
            <a class="btn" href="http://vk.com/"><i class="fa fa-vk fa-5x"></i> &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Лицо КнижечкЪ</h2>
        <p>И в Лицо Книжечке ессесно могём!</p>
        <p>
            <a class="btn" href="http://facebook.com/"><i class="fa fa-facebook-square fa-5x"></i> &raquo;</a>
        </p>
    </div>
</div>
